<h1>{{ resultset.getNumFound() }} Search Results</h1>
<div class="sonata-blog-post-list">
    {% for result in resultset %}
        {% set content= rz_search_render_result(result, highlighting) %}
        {{  content | raw }}
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}
</div>
