<div class="rz-search-list-container">
    <h4 class="rz-search-list-title">
        <a href="{{ url( route, { 'permalink': result.url }) }}">{{ result.title }}</a> | <b>{{ result.author }}</b>
    </h4>
    <div class="srz-search-list-information">
        <div class="srz-search-list-container">
            <div class="srz-search-list-content">
                <div class="row-fluid">
                    <div class="span12">{{ result.description }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
